<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuWRlFo8Q0YJUelHnxv8gn2_FFiNPbboc</string>
	<key>GCM_SENDER_ID</key>
	<string>535300410675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christiancatenacci.tooPoopToGo</string>
	<key>PROJECT_ID</key>
	<string>too-poop-to-go-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>too-poop-to-go-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535300410675:ios:97737cf3bc20c54a210246</string>
</dict>
</plist>