<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiYWxieWVhaCIsImEiOiJjbHVta3JnNXUxOHlsMmtsaWNiNDA3NnVyIn0.ktE0i_EYxUPMBieyS0G4rw</string>
	<key>UIAppFonts</key>
	<array>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
		<string>Manrope-ExtraLight.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>CLightBrown</string>
		<key>UIImageName</key>
		<string>LoadImage</string>
	</dict>
</dict>
</plist>
